*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/build
/openCVLibrary320/build
/captures
.externalNativeBuild
app/build.gradle
openCVLibrary320/build/intermediates/symbols/androidTest/debug/R.txt
openCVLibrary320/build/intermediates/manifests/aapt/debug/AndroidManifest.xml
openCVLibrary320/build/intermediates/manifest/androidTest/debug/AndroidManifest.xml
openCVLibrary320/build/intermediates/incremental/packageDebugResources/merger.xml
openCVLibrary320/build/intermediates/incremental/packageDebugResources/merged.dir/values/values.xml
openCVLibrary320/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
openCVLibrary320/build/intermediates/incremental/mergeDebugShaders/merger.xml
openCVLibrary320/build/intermediates/incremental/mergeDebugAssets/merger.xml
openCVLibrary320/build/intermediates/incremental/mergeDebugAndroidTestResources/merger.xml
openCVLibrary320/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/values/values.xml
openCVLibrary320/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
openCVLibrary320/build/intermediates/incremental/compileDebugAidl/dependency.store
openCVLibrary320/build/intermediates/bundles/debug/res/values/values.xml
openCVLibrary320/build/intermediates/bundles/debug/R.txt
openCVLibrary320/build/generated/source/r/androidTest/debug/org/opencv/test/R.java
openCVLibrary320/build/generated/source/buildConfig/debug/org/opencv/BuildConfig.java
openCVLibrary320/build/generated/source/buildConfig/androidTest/debug/org/opencv/test/BuildConfig.java
openCVLibrary320/build/generated/source/aidl/debug/org/opencv/engine/OpenCVEngineInterface.java
openCVLibrary320/build.gradle
app/build.gradle
